/* A CSS FILE FOR SCREEN SIZE BELOW 640PX */


@media(max-width:680px) {
#logos-section div img{
    height: 14%;
    width: 14%;
}
#logos-section div {
    padding: 17px;
    border: 1px solid black;
    margin-left: 5px;
    align-items: center;
}
#main-tag {
    height: 100vh;
    width: 100%;
}
h1 {
    font-size: 45px;
}
#main-tag-div {
    width: 100% ;
    margin-left: 0px;
}
#main-heading-div{
        margin-left: 90px;
        margin-bottom: 30px;
}
#humburger {
    display: block;
    cursor: pointer;
}
#nav-links{
    display: none;
    position: absolute;
    flex-direction: column;
    top: 35px;
    background-color: #fff;
    width: 50%;
    box-shadow: 3px 3px 5px #000;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}
#nav-links.active {
    display: flex;
}
}


@media(max-width:550px) {
#logos-section div img{
    height: 12.5%;
    width: 12.5%;
}
#logos-section div {
    padding: 10px;
    border: 1px solid black;
    margin-left: 5px;
    align-items: center;
}
#main-tag {
    height: 100vh;
    width: 100%;
}
h1 {
    font-size: 41px;
}
#main-tag-div {
    width: 100% ;
    margin-left: 0px;
}
#main-heading-div{
    margin-left: 35px;
}
}


@media(max-width:444px) {
.heading {
    font-size: 20px;
}
.heading-para {
    font-size: 10px;
}
#logos-section div img{
    height: 10%;
    width: 10%;
}
#logos-section div {
    padding: 8px;
    border: 1px solid black;
    margin-left: 5px;
    align-items: center;
}
#main-tag {
    height: 80vh;
    width: 100%;
}
h1 {
    font-size: 35px;
}
#main-tag-div {
    width: 100% ;
    margin-left: 0px;
}
#main-heading-div{
    margin-left: 35px;
}
}